<div class="page-header">
  <h3>Vendor #<%= @vendor.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Vendor name</dt>
      <dd><%= @vendor.vendor_name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/vendors" class="btn btn-primary">
        Back
      </a>
      <a href="/vendors/<%= @vendor.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_vendor/<%= @vendor.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Vendor has many items -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Items
      </li>

      <% @vendor.items.each do |item| %>
        <li class="list-group-item">
          <a href="/items/<%= item.id %>">
            <%= item.item_name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/items/<%= item.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/items/<%= item.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_item/<%= item.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_item" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for item_name -->
      <div class="form-group">
        <label for="item_name" class="control-label">
          Item name
        </label>

        <input type="text" id="item_name" name="item_name" placeholder="Item name" class="form-control" value="">
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <textarea id="description" name="description" placeholder="Description" class="form-control" rows="3"></textarea>
      </div>

      <!-- Label and input for quantity_wanted -->
      <div class="form-group">
        <label for="quantity_wanted" class="control-label">
          Quantity wanted
        </label>

        <input type="text" id="quantity_wanted" name="quantity_wanted" placeholder="Quantity wanted" class="form-control" value="">
      </div>

      <!-- Label and input for quantity_received -->
      <div class="form-group">
        <label for="quantity_received" class="control-label">
          Quantity received
        </label>

        <input type="text" id="quantity_received" name="quantity_received" placeholder="Quantity received" class="form-control" value="">
      </div>

      <!-- Label and input for item_url -->
      <div class="form-group">
        <label for="item_url" class="control-label">
          Item url
        </label>

        <input type="text" id="item_url" name="item_url" placeholder="Item url" class="form-control" value="">
      </div>

      <!-- Label and input for vendor_id -->
      <input type="hidden" name="vendor_id" value="<%= @vendor.id %>">

      <!-- Label and input for image_url -->
      <div class="form-group">
        <label for="image_url" class="control-label">
          Image url
        </label>

        <input type="text" id="image_url" name="image_url" placeholder="Image url" class="form-control" value="">
      </div>

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <button class="btn btn-block btn-success">
        Create Item
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
